body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.status {
  font-weight: 200;
  animation-name: statusText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes statusText {
  0% {
    font-weight: 200;
  }
  25% {
    font-weight: 300;
  }
  50% {
    font-weight: 400;
  }
  100% {
    font-weight: 500;
  }
}
